.home-banner {
  color: $color-white;
  position: relative;

  &--image {
    max-width: 100%;
    width: 100%;

    @include breakpoint("bp-700") {
      @include fullScreen;
      object-fit: cover;
    }
  }

  &--white-box {
    background-color: rgba($color-white, 0.5);
    display: none;
    height: 40vh;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 45vw;

    @include breakpoint("bp-1000") {
      display: block;
    }
  }

  &--text {
    font-size: 2.4rem;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

    @include breakpoint("bp-700") {
      font-size: 4rem;
      left: 50%;
      margin: 1.6rem 0;
      top: 67%;
      transform: translateX(-50%);
    }
  }

  &--explore {
    cursor: pointer;
    font-size: 1.6rem;
    left: 50%;
    position: absolute;
    top: 72%;
    transform: translate(-50%, -50%);
    z-index: 99999;

    @include breakpoint("bp-700") {
      top: 85%;
    }
  }
}

.home {
  &-about,
  &-weddings,
  &-couples,
  &-families,
  &-contact {
    margin: 2rem 0;

    @include breakpoint("bp-700") {
      margin: 0;
      min-height: 100vh;
    }

    a {
      color: $color-copper-mauve;
      font-family: "Playfair Display SC", serif;
      font-size: 3.6rem;
      font-weight: 700;
      text-decoration: none;
    }

    h2 {
      font-size: 7.2rem;
      margin: 0;
    }

    p {
      font-size: 3rem;
      font-weight: 200;
      line-height: 1.2;
    }
  }
}

.home-about {
  @include vertCenter;

  img {
    width: 140px;

    @include breakpoint("bp-600") {
      width: auto;
    }
  }

  p {
    font-size: 2.4rem; //halved big-screen value, for now
    line-height: 1.2;
    margin: 1rem auto;
    width: 25em;

    @include breakpoint("bp-700") {
      font-size: 4.8rem;
    }
  }

  a,
  p {
    z-index: 99999;
  }
}

.home-weddings,
.home-couples,
.home-families {
  position: relative;
  justify-content: space-between;

  .section {
    &--text {
      display: flex;
      flex-direction: column;
      justify-content: start;
      padding: 192px 5% 56px;
      z-index: 999999;

      @include breakpoint("bp-700") {
        flex-basis: 40%; //not sure if this needs to match the width? changed from 30% to 40%.
        height: 100vh;
        padding-left: 5%;
        padding-right: 3.33%;
        position: absolute;
        top: 0;
        width: 40%;
      }

      /*p {
        font-size: 3rem;
        font-weight: 200;
        line-height: 1.2;
      }*/
    }

    &--images {
      padding: 56px 56px 56px 0;

      @include breakpoint("bp-700") {
        left: 40%;
        position: relative;
        width: 60%;
      }

      img {
        display: block;
        height: auto;
        max-width: 100%;
        width: 100%;
        padding-bottom: 24px;
      }

      img:last-child {
        padding-bottom: 0;
      }
    }
  }
}

.home-weddings,
.home-families {
  //background-color: $color-dark-forest;
  color: $color-white;
}

.home-contact {
  @include vertCenter;
  text-align: center;

  @include breakpoint("bp-700") {
    //text-align: initial;
  }

  h2,
  p,
  a {
    z-index: 999999;
  }
}
